@import url(http://fonts.googleapis.com/css?family=Questrial);

html, body
{
	font-size: .95rem;
}

h1, h2, h3, h4, h5, h6
{
	font-family: Questrial, sans-serif;
}

div.navigation header.row
{
	margin: 2rem 1rem;
}

div.navigation header h1
{
	margin: 0;
	line-height: 1;
	text-align: center;
	text-transform: lowercase;
}

div.navigation header .title
{
	font-size: 6rem;
}

div.navigation header .subheader
{
	font-size: 1.2rem;
}

div.navigation
{
	padding: 0;
}

div.navigation .side-nav *
{
	list-style: none;
}

div.navigation .side-nav a > i
{
	float: right;
	margin-top: .3rem;
	margin-right: 1rem;
}

div.navigation .side-nav li a,
div.navigation .side-nav li a:focus,
div.navigation .side-nav.accordion .accordion-navigation > a
{
	font-family: Questrial, sans-serif;
	font-size: 1rem;
	text-decoration: none;
	color: #666;
	/*
	word-break: break-all;
	-ms-word-break: break-all;
	*/
	border-left: .1rem solid #f5f5f5;
	border-right: .5rem solid #00beef;
	box-shadow: 0 .4rem .5rem #ddd;
	background: #fff;
	margin-bottom: 2px;
}

div.navigation .side-nav li
{
	margin: 0;
	border-top: .1rem solid #f5f5f5;
}

div.navigation .side-nav li ul,
div.navigation .side-nav.accordion .accordion-navigation > .content
{
	margin: 0;
	padding: 0;
}

div.navigation .side-nav ul a,
div.navigation .side-nav.accordion .accordion-navigation ul a
{
	padding-left: 4rem;
	border-right: .5rem solid #007aab;
}

div.navigation .side-nav ul ul a,
div.navigation .side-nav.accordion .accordion-navigation ul ul a
{
	padding-left: 5rem;
	border-right: .5rem solid #005889;
}

div.navigation .side-nav ul ul ul a,
div.navigation .side-nav.accordion .accordion-navigation ul ul ul a
{
	padding-left: 6rem;
	border-right: .5rem solid #003667;
}

div.navigation .side-nav li.accordion-navigation > a:before
{
	margin: .4rem 0 0 -1.2rem;
	float: left;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 1rem;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	content: "\f0da";
}

div.navigation .side-nav li.accordion-navigation.active > a:before,
.no-js div.navigation .side-nav li.accordion-navigation > a:before
{
	content: "\f0d7";
}

.no-js .accordion .accordion-navigation > .content
{
	display: block;
}

div.navigation .side-nav li a:hover,
div.navigation .side-nav li a.current
{
	color: #fff !important;
	background-color: #00beef !important;
}

div.navigation .side-nav li a
{
	padding: .8rem 1rem .8rem 3rem;
}
